<div class="social-container cont">
    <div class="social int">
        <div class="aside">
            <form class="signup" id="signup_form" action="/" method="post">
                <h3 class="after">Thank you!</h3>
                <h3 class="signup-title">Sign up for Newsletter</h3>
                <input type="email" name="email" id="email" placeholder="your email" />
            </form>
        </div>
        <div class="bside">
            <h3 class="thermodo-title">#thermodo</h3>
            <a class="sl twitter" target="_blank" href="http://twitter.com/thermodo"></a>
            <a class="sl instagram" target="_blank" href="http://instagram.com/thermodo"></a>
            <a class="sl facebook" target="_blank" href="http://facebook.com/thermodo"></a>
            <a class="sl vimeo" target="_blank" href="http://thermodo.com/videos"></a>

            <div class="twitter-hover"></div>
            <div class="instagram-hover"></div>
            <div class="facebook-hover"></div>
            <div class="vimeo-hover"></div>
        </div>
    </div>
</div>

<div class="footer-container cont">
    <div class="footer int">
        <div class="aside">
            <h4>Our Products</h4>
            <a href="http://shop.thermodo.com/products/thermodo" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/products/thermodo']); return false;">Thermodo</a>
            <a href="http://shop.thermodo.com/products/premium-thermodo" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/products/premium-thermodo']); return false;">Premium Thermodo</a>
            <a href="http://shop.thermodo.com/products/extension-cable" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/products/v']); return false;">Extension Cable</a>
        </div>
        <div class="bside">
            <h4>About Thermodo</h4>
            <!-- <a href="http://robo.cat" target="_blank" class="robocat"></a> -->
            <div class="robocat-hover hidden"></div>
            <p class="tagline">Thermodo was designed by a small team from Copenhagen. Today, we are based in San Francisco, California.<br><span class="legal">Copyright &copy; 2015 Thermodo Corp. All rights reserved.</span></p>
        </div>
        <div class="cside">
            <h4>Develop for Thermodo</h4>
            <p>Interested in developing app for Thermodo on iPhone, iPad &amp; Android or desktop computers? More info at our <a href="/developer/">developers page</a>.</p>
        </div>
        <div class="clearboth"></div>
        <div class="contact">Wanna get in touch? Shoot us an email at <a href="mailto:hello@thermodo.com">hello@thermodo.com</a></div>
    </div>
</div>
