<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="The tiny thermometer for your mobile device that lets you measure the temperature, right where you are.">
        <meta name="keywords" content="thermodo, thermometer, temperature, measure, environment, mobile, robocat, apps, electrical, pocket, ios, iphone, ipad, android, mac, data logger, logger, food, hvac, hacpp">
        <title>Thermodo ~ {{ template.title }}</title>

        <meta name="og:title" content="Thermodo ~ The Tiny Thermometer for Mobile Devices. iPhone, iPad &amp; Android" />
        <meta name="og:site_name" content="Thermodo" />
        <meta name="og:app_id" content="473928849337512" />
        <meta name="og:url" content="http://thermodo.com/" />
        <meta name="og:description" content="The tiny thermometer for your mobile device that lets you measure the temperature, right where you are." />
        <meta name="og:image" content="{{{config.imgpath}}}/shareicon_fb.png" />
        <meta name="og:locale" content="en_US" />
        <meta name="og:type" content="website" />

        <link rel='stylesheet' href='/css/main.css'>

        <!--[if lt IE 9]>
            <link rel='stylesheet' href='/css/ie8.css'>
        <![endif]-->

        {{> reload }}

        <link rel="image_src" href="{{{config.imgpath}}}/shareicon_fb.png" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

        <script>
        var _prum = [['id', '53636720abe53d8c79a1be82'],
                     ['mark', 'firstbyte', (new Date()).getTime()]];
        (function() {
            var s = document.getElementsByTagName('script')[0]
              , p = document.createElement('script');
            p.async = 'async';
            p.src = '//rum-static.pingdom.net/prum.min.js';
            s.parentNode.insertBefore(p, s);
        })();
        </script>

        <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-2395002-34', 'auto', {'allowLinker': true});
        ga('require', 'linker');
        ga('linker:autoLink', ['thermodo.com']);
        ga('send','pageview');
        </script>

        <!-- Facebook Conversion Code for Thermodo -->
        <script type="text/javascript">
        var fb_param = {};
        fb_param.pixel_id = '458267927635694';
        (function(){
          var fpw = document.createElement('script');
          fpw.async = true;
          fpw.src = '//connect.facebook.net/en_US/fp.js';
          var ref = document.getElementsByTagName('script')[0];
          ref.parentNode.insertBefore(fpw, ref);
        })();
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=458267927635694" /></noscript>
    </head>
    <body class="not-ios">
        <div class="container">
