<div class="header-container cont default">
	<div class="header int">
		<div class="navbar">
			<a href="/" class="logo" id="logo">{{{ img "logo-black.png" }}}</a>

			<nav class="top-navigation">
				<a href="http://shop.thermodo.com/" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/']); return false;" class="active">Shop</a>
				<a href="/software/">Software</a>
				<a href="/faq/">FAQ</a>
				<a href="/developer">Developers</a>
				<a href="http://shop.thermodo.com/cart" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/cart']); return false;" class="bag">
					<span class="item-count" id="count">0</span>
					<span class="text">items</span>
				</a>
			</nav>
		</div> <!-- .navbar -->
	</div>
</div>