<div class="header-container cont developers">
	<div class="header int">
		<div class="navbar">
			<a href="/" class="logo" id="logo">{{{ img "logo-white.png" }}}</a>

			<nav class="top-navigation">
				<span class="bag">
					<a href="http://shop.thermodo.com/" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/']); return false;" class="">Products</a>
					<a href="/software/">Software</a>
					<a href="/support/">Support</a>
				</span>
				<!-- <a href="http://shop.thermodo.com/cart" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/cart']); return false;" class="bag">
					<span class="item-count" id="count">&nbsp;</span>
					<span class="text">Buy</span>
				</a> -->
			</nav>
		</div> <!-- .navbar -->

		<div class="header-text">
			<h1>Hey Developers!</h1>
			<p class="header-subtitle">Let's build temperature-aware products together!<br>If you have the dreams, we have the tools. Contact us for iOS, Android and Mac OS X SDK.</p>
			<a href="mailto:hello@thermodo.com?subject=Thermodo SDK" class="button sdk arrowed red"><span class="ios_android"></span>Contact us</a>
			<br>
			<!-- <a href="https://www.dropbox.com/sh/zb8jvtlng3apog9/wB8opfu4LF" target="_blank" class="button sdk graphical arrowed blue"><span class="graphical"></span>
			Graphical Package</a> -->
		</div>
	</div>
</div>
