<div class="header-container cont developers">
	<div class="header int">
		<div class="navbar">
			<a href="/" class="logo" id="logo">{{{ img "logo-white.png" }}}</a>

			<nav class="top-navigation">
				<a href="http://shop.thermodo.com/" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/']); return false;" class="">Shop</a>
				<a href="/software/">Software</a>
				<a href="/faq/" class="active">FAQ</a>
				<a href="/developer/">Developers</a>
				<a href="http://shop.thermodo.com/cart" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/cart']); return false;" class="bag">
					<span class="item-count" id="count">&nbsp;</span>
					<span class="text">Buy</span>
				</a>
			</nav>
		</div> <!-- .navbar -->

		<div class="header-text">
			<h1>Hey Developers!</h1>
			<p class="header-subtitle">Let's build temperature-aware products together!<br>If you have the dreams, we have the tools.</p>
			<a href="https://github.com/thermodo/ThermodoSDK-iOS" target="_blank" class="button sdk arrowed red"><span class="ios"></span>iOS &amp; Mac SDK</a>
			<a href="https://github.com/thermodo/ThermodoSDK-Android" target="_blank" class="button sdk arrowed red"><span class="android"></span>
			Android SDK</a>
			<br>
			<a href="https://www.dropbox.com/sh/zb8jvtlng3apog9/wB8opfu4LF" target="_blank" class="button sdk graphical arrowed blue"><span class="graphical"></span>
			Graphical Package</a>
		</div>
	</div>
</div>