<div class="header-container cont faq-page">
	<div class="header int">
		<div class="navbar">
			<a href="/" class="logo" id="logo">
				{{{ img "logo-white.png" }}}
			</a>

			<nav class="top-navigation">
				<span class="bag">
					<a href="http://shop.thermodo.com/" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/']); return false;" class="">Products</a>
					<a href="/software/">Software</a>
					<a href="/support/" class="active">Support</a>
				</span>
				<!-- <a href="http://shop.thermodo.com/cart" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/cart']); return false;" class="bag">
					<span class="item-count" id="count">&nbsp;</span>
					<span class="text">Buy</span>
				</a> -->
			</nav>
		</div> <!-- .navbar -->

		<div class="text">
			<h1>Got Questions?</h1>
			<p class="header-subtitle">Here’s some answers to the<br> most commonly asked questions.</p>
		</div>

		<div class="aside">
			<ul class='faq-index'>
				<li><a href="#faq-case">Does Thermodo work with a case?</a></li>
				<li><a href="#faq-android-support">How well is Thermodo supported on Android?</a></li>
				<li><a href="#faq-ios-support">How well is Thermodo supported on iOS?</a></li>
				<li><a href="#faq-extension-cable">Can I use extension cables to measure temperatures away from my device?</a></li>
				<li><a href="#faq-extension-cable-pole">Which extension cables work with Thermodo?</a></li>
				<li><a href="#faq-warmer">Why is my temperature reading warmer than I expect?</a></li>
				<li><a href="#faq-pollution">How do I minimize heat pollution when measuring the temperature?</a></li>

			</ul>
		</div>
		<div class="bside">
			<ul class='faq-index'>
			<li><a href="#faq-time">How long does it take to measure the temperature?</a></li>
				<li><a href="#faq-issues">I’m having issues with my Thermodo. What could be wrong?</a></li>
				<li><a href="#faq-shipping-origin">Where do we ship from?</a></li>
				<li><a href="#faq-shipping-time">How long does shipping take?</a></li>
				<li><a href="#faq-shipping-carriers">What carriers can I choose for shipping?</a></li>
				<li><a href="#faq-shipping-tracking-number">Do you provide tracking number?</a></li>
				<li><a href="#faq-shipping-country">Do you ship to my country?</a></li>
				<li><a href="#faq-large-quantities">I want to order a large quantity. Can I get a bulk discount?</a></li>
			</ul>
		</div>
	</div>
</div>
