<div class="header-container cont home">

	<div class="header int">
		<div class="navbar">
			<a href="/" class="logo" id="logo">{{{ img "logo-white.png" }}}</a>

			<nav class="top-navigation">
				<span class="bag">
				<a href="http://shop.thermodo.com/" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/']); return false;" class="">Products</a>
				<a href="/software/">Software</a>
				<a href="/support/">Support</a>
			</span>
				<!-- <a href="/about/">About</a> -->
				<!-- <a href="http://shop.thermodo.com/cart" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/cart']); return false;" class="bag">
					<span class="item-count" id="count">&nbsp;</span>
					<span class="text">Buy</span>
				</a> -->
			</nav>
		</div> <!-- .navbar -->

		<div class="headline">
			<p class="header-subtitle">The tiny thermometer that lets you measure the temperature, right where you are.</p>
			<a href="http://shop.thermodo.com/" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/']); return false;" class="button buynow">Buy Now</a>
		</div>

		<div class="download">
			<p>Already got a Thermodo?</p>
			<a href="https://itunes.apple.com/us/app/thermodo/id739181884?mt=8&uo=6&at=1l3vtDT&ct=" target="blank" class="appstore">Get the Free Thermodo iOS (iPhone &amp; iPad) app</a>
			<a href="https://play.google.com/store/apps/details?id=com.robocatapps.thermodo" target="_blank" class="playstore">Get the Free Thermodo Android app</a>
			<div class="hidden appstore-hover"></div>
			<div class="hidden playstore-hover"></div>
		</div>

		<div class="hand">
			<div class="demo"></div>
		</div>
	</div>
</div>
