<div class="header-container cont apps">
	<div class="header int">
		<div class="navbar">
			<a href="/" class="logo" id="logo">{{{ img "logo-white.png" }}}</a>

			<nav class="top-navigation">
				<a href="http://shop.thermodo.com/" class="">Shop</a>
				<a href="/software/" class="active">Software</a>
				<a href="/faq/">FAQ</a>
				<a href="/developer/">Developers</a>
				<a href="http://shop.thermodo.com/cart" class="bag">
					<span class="item-count" id="count">&nbsp;</span>
					<span class="text">Buy</span>
				</a>
			</nav>
		</div> <!-- .navbar -->

		<div class="aside">
			{{{ img "thermodo_animation1.gif" }}}
		</div>
		<div class="bside">
			{{{ img "appicon.png" }}}
			<h1>The Companion App</h1>
			<p class="subsubtitle">Allows you to measure the temperature everywhere, has advanced settings for heat compensation and a wealth of information about your new little gadget.</p>
			<div class="download">
				<a href="https://itunes.apple.com/us/app/thermodo/id739181884?mt=8" target="_blank" class="appstore">Get the Free iOS Companion app</a>
				<a href="https://play.google.com/store/apps/details?id=com.robocatapps.thermodo" target="_blank" class="playstore">Get the Free Android Companion app</a>
				<div class="hidden appstore-hover"></div>
				<div class="hidden playstore-hover"></div>
			</div>
		</div>
	</div>
</div>
