{{> header }}
{{> tophome }}

<div class="products-container cont">
	<div class="products int">
		<a class="product black" href="http://shop.thermodo.com/products/thermodo" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/products/thermodo']); return false;">
			<span class="render">
			{{{ img "thermodo-render-black.png" }}}
			</span>
			<span class="buy">
				<span class="name">Thermodo Black</span>
				<!-- <span class="price">$29<sup>99</sup></span> -->
			</span>
			<p>Dark as the night, the black Thermodo is a stealthy little temperature probe. Goes perfectly with black devices. Crafted from aluminum with a midnight automotive grade paint job and a hand stamped logo.</p>
		</a>
		<a class="product premium" href="http://shop.thermodo.com/products/premium-thermodo" onclick="_gaq.push(['_link', 'http://shop.thermodo.com/products/premium-thermodo']); return false;">
			<span class="render">
				{{{ img "thermodo-render-premium.png" }}}
				</span>
			<span class="buy">
				<span class="name">Thermodo Premium</span>
				<!-- <span class="price">$44<sup>99</sup></span> -->
			</span>
			<p>The premium edition Thermodo is made from beautiful anodized aluminium with electrode erosion engraved logos. This temperature sensor features an exclusive look similar to that of the surface of a Macbook. It's all class!</p>
		</a>
	</div>
</div>

<div class="heatmap-container-hover"></div>
<a class="heatmap-container cont" href="//map.thermodo.com/" target="blank">
	<div class="heatmap int">
		<h2>Explore the Global Heatmap</h2>
	</div>
</a>

<div class="crafted-container cont">
	<div class="crafted int">
		<div class="text">
			<h2>Crafted for sensitivity</h2>
			<p class="subsubtitle">Thermodo is a high precision sensitive piece of equipment that allows you to measure the temperature in any given environment through the audio port on your mobile device! Supports iPhone, iPad (iOS) and Android.</p>
			<a href="/support/#faq-android-support" class="button outlined">Got questions? Here's some answers!</a>
		</div>
	</div>
</div>

<!-- <div class="works-container cont">
	<div class="works int">
		<div class="aside">
			<h2>How does<br> it work?</h2>
			<p class="subsubtitle">Thermodo consists of a passive temperature sensor built into a 4 pole audio jack enclosed by a sturdy housing. Thermodo sends an audio signal through the temperature sensor. This sensor will then attenuate the signal amplitude depending on the actual temperature. This attenuation can now be detected on the microphone input and through software we calculate the corresponding temperature. Easy peasy!</p>
			<a href="/software/" class="button outlined">Learn more about the software</a>
		</div>
		<div class="bside">
			{{{ img "thermodo-render-premium.png" true "demo" }}}
		</div>
	</div>
</div> -->

<!-- <div class="kickstarter-container cont">
	<div class="kickstarter int">
		<div class="aside">
			<a href="javascript;" id="vimeo" class="play">Play</a>
		</div>
		<div class="bside">
			<a href="http://kickstarter.com/projects/robocat/thermodo-the-tiny-thermometer-for-mobile-devices" target="_blank">{{{ img "kickstarter-funded.png" }}}</a>
			<h2>The Kickstarter Origin</h2>
			<p>Thermodo was funded on Kickstarter in March 2013 with a whopping 960% funding goal reached! We had an amazing year working on the project and bringing backers along for the ride as we were executing on our vision. Thermodo has grown up now, but you can still dig into the archives and enjoy the <a href="http://thermodo.com/videos" target="_blank">wonderful journey</a> we made to create this product with the amazing support from 8,776 backers.</p>
		</div>
	</div>
</div> -->

{{> bottomdefault }}
{{> footer }}
