$callout-height: 291px;
$callout-width: 320px;

$callout-side-margin: 8px;

$callout-graph-height: 185px;

$callout-details-spacing: 10px;
$callout-details-average-width: 50px;
$callout-details-location-width: $callout-width - $callout-side-margin * 2 - $callout-details-spacing - $callout-details-average-width;
$callout-details-average-degrees-width: 6px;

$callout-indicator-head-width: 55px;
$callout-indicator-head-height: 26px;
$callout-indicator-background-color: #2F2F2F;
$callout-indicator-head-degrees-width: 6px;
$callout-indicator-head-arrow-width: 6px;
$callout-indicator-head-arrow-height: 5px;
$callout-indicator-line-width: 2px;
$callout-indicator-top-line-height: 15px;
$callout-indicator-time-width: 60px;
$callout-indicator-time-height: 19px;

$callout-temperatures-bottom-margin: 10px;
$callout-temperatures-sides-margin: 50px;
$callout-temperatures-width: ($callout-width - $callout-temperatures-sides-margin * 2) / 3;
$callout-temperatures-degrees-width: 8px;

$callout-footer-height: 22px;
$callout-footer-background-color: #2f2f2f;
$callout-footer-text-size: 11px;
$callout-footer-text-color: white;

$callout-arrow-height: 11px;

// The Google map
div#map-canvas {
  height: 100%;
}

// A marker on the Google map
div.marker {
  width: 26px;
  height: 26px;
  background-color: #000;
  border: 2px solid rgba(0, 0, 0, 0.20);
  border-radius: 26px;
}

// The Thermodo logo in a marker
div.marker-thermodo {
  width: 100%;
  height: 100%;
  background: center no-repeat;
  @include ri("map_thermodo","9px 16px");
}

// A marker for a cluster
div.cluster {
  @extend div.marker;
  @extend .font-helvetica-bold;
  width: 36px;
  height: 36px;
}

// The amount of measurements in a cluster
div.cluster-count {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
}

// Outer most container for the callout
div.callout {
  width: $callout-width;
  height: $callout-height;
}

// Body of the callout. Contains anything that is not in the footer.
div.callout .body {
  width: 100%;
  height: $callout-height - $callout-footer-height;
}

// Contents of the body in the callout
div.callout .body .contents {
  height: 100%;
  width: 100%;
  position: relative;
}

// Details in the top of the callout. E.g. average temperature, location and relative time.
div.callout .body .details {
	@extend .font-helvetica-light;
  height: $callout-height - $callout-footer-height - $callout-graph-height;
	height: 50px;
	color: white;
	display: table;
	margin-left: $callout-side-margin;
	margin-right: $callout-side-margin;
}

// Content of the details
div.callout .body .details .contents {
	display: inline-block;
	display: table-cell;
	vertical-align: middle;
}

// Relative date in the top of the callout
div.callout .body .details .relative-date {
	font-size: 13px;
}

// Location in the callout
div.callout .body .details .location {
	font-size: 20px;
}

// Container for the graph in the callout
div.callout .body .contents .graph-container {
  width: 100%;
  height: $callout-graph-height;
  position: absolute;
  bottom: 0;
}

// Hit area for moving the indicator.
// We add the hit area to ensure that the user can interact with the entire graph
// even though there are elements overlaying it.
div.callout .body .contents .hitarea {
	width: 100%;
	height: $callout-graph-height;
	position: absolute;
	bottom: 0;
}

// Graph in the callout
div.callout .body .contents .graph-container .graph {
	width: 100%;
	height: 100%;
	opacity: 0.20;
}

// Container for the indicator in the graph
div.callout .body .contents .graph-container .indicator {
	height: 100%;
	position: absolute;
	bottom: 0px;
}

// Head of the indicator
div.callout .body .contents .graph-container .indicator .head {
	@extend .font-outage;
	width: $callout-indicator-head-width;
	height: $callout-indicator-head-height;
	font-size: 17px;
	color: white;
	line-height: $callout-indicator-head-height;
	background-color: $callout-indicator-background-color;
	text-align: center;
	position: relative;
}

// Container for the value in the indicator head
div.callout .body .contents .graph-container .indicator .head .value-container {
	position: relative;
	top: 2px;
	left: 1px;
}

// The value (an amount of degrees) of the temperatures in the indicator of the graph
div.callout .body .contents .graph-container .indicator .head span.value {
	background-repeat: no-repeat;
	background-size: $callout-indicator-head-degrees-width $callout-indicator-head-degrees-width;
	background-position: top right;
	padding-right: $callout-indicator-head-degrees-width + 1px;
	padding-top: $callout-indicator-head-degrees-width * 0.50 - 1px;
	@include ri("degrees", $callout-indicator-head-degrees-width $callout-indicator-head-degrees-width);
}

// Arrow below the head of the indicator in the graph
div.callout .body .contents .graph-container .indicator .head-arrow {
	width: $callout-indicator-head-arrow-width;
	height: $callout-indicator-head-arrow-height;
	background-repeat: no-repeat;
	position: relative;
	@include ri("head-arrow", "6px 5px");
}

// Line from head of indicator to time
div.callout .body .contents .graph-container .indicator .top-line {
	background-color: $callout-indicator-background-color;
	width: $callout-indicator-line-width;
	height: $callout-indicator-top-line-height;
	position: relative;
}

// Line from time to bottom of indicator
div.callout .body .contents .graph-container .indicator .bottom-line {
	@include linear-gradient($callout-indicator-background-color, transparent);
	width: $callout-indicator-line-width;
	height: 100px;
	position: relative;
}

// Container for the time on the indicator
div.callout .body .contents .graph-container .indicator .time-container {
	width: $callout-indicator-time-width;
	height: $callout-indicator-time-height;
	background-color: $callout-indicator-background-color;
	position: relative;
}

// Time in the indicator
div.callout .body .contents .graph-container .indicator .time {
	height: 100%;
	width: 100%;
	background-color: $callout-indicator-background-color;
	text-align: right;
	background-repeat: no-repeat;
	background-position: 3px center;
	@include ri("time", "9px 9px");
}

// Value of the time on the indicator
div.callout .body .contents .graph-container .indicator .time span.value {
	@extend .font-helvetica-light;
	color: white;
	font-size: 11px;
	line-height: $callout-indicator-time-height;
	height: 100%;
	margin-right: 3px;
}

// Temperatures in the bottom of the callout
div.callout .body .contents .temperatures {
  width: 100%;
  position: absolute;
  bottom: $callout-temperatures-bottom-margin;
}

// Container for the values of the tempreatures in the bottom of the callout
div.callout .body .contents .temperatures .value-container {
  @extend .font-outage;
  color: white;
  font-size: 19px;
  width: 100%;
  float: left;
  text-align: center;
}

// Container for the values of the tempreatures in the bottom of the callout
div.callout .body .contents .temperatures .value-container {
  font-size: 24px;
  width: $callout-temperatures-width;
}

// The value (an amount of degrees) of the temperatures in the bottom of the callout
div.callout .body .contents .temperatures span.value {
  background-repeat: no-repeat;
  background-size: $callout-temperatures-degrees-width $callout-temperatures-degrees-width;
  background-position: top right;
  padding-right: $callout-temperatures-degrees-width + 1px;
  padding-top: $callout-temperatures-degrees-width * 0.50 - 1px;
  @include ri("degrees", $callout-temperatures-degrees-width $callout-temperatures-degrees-width);
}

// Title below the temperatures in the bottom of the callout
div.callout .body .contents .temperatures .title-container {
  @extend .font-helvetica-light;
  width: 100%;
  color: white;
  font-size: 11px;
  float: left;
  text-align: center;
}

// Container for a title below the temperatures in the bottom of the callout
div.callout .body .contents .temperatures .title-container {
  width: $callout-temperatures-width;
}

// Title below the temperatures in the bottom of the callout
div.callout .body .contents .temperatures span.title {
  padding-right: $callout-temperatures-degrees-width + 1px;
}

// Container for the low temperature value and title in the bottom of the callout
div.callout .body .contents .temperatures .low {
  margin-left: $callout-temperatures-sides-margin;
}

// Container for the average temperature and title value in the bottom of the callout
div.callout .body .contents .temperatures .average {

}

// Container for the high temperature value and title in the bottom of the callout
div.callout .body .contents .temperatures .high {
  margin-right: $callout-temperatures-sides-margin;
}

// Outer most container for the footer of the callout
div.callout .footer {
  @extend .font-helvetica-light;
  width: 100%;
  height: $callout-footer-height;
  background-color: $callout-footer-background-color;
  line-height: $callout-footer-height;
  color: $callout-footer-text-color;
  font-size: $callout-footer-text-size;
}

// Start date in the footer of the callout
div.callout .footer .start-date {
  margin-left: $callout-side-margin;
  float: left;
}

// Duration in the footer of the callout
div.callout .footer .duration {
  margin-right: $callout-side-margin;
  float: right;
}

// Arrow at the bottom of the callout
div.callout .arrow {
	width: 100%;
	height: $callout-arrow-height;
	background-repeat: no-repeat;
	background-position: top center;
	@include ri("callout-arrow", "11px 11px");
}

// Outage font
.font-outage {
  font-family: "Outage", "Arial Black";
  font-weight: 600;
}

// Bold Helvetica Neue font
.font-helvetica-bold {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 600;
  font-stretch: normal;
}

// Light Helvetica Neue font
.font-helvetica-light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
