$asset-pipeline: true;
$shopify: false;

@import "_normalize";
@import "bourbon";
$max-width: 1020px;
@import "neat";

@import "_animations";
@import "_mixins";
@import "_home";
@import "_default";
@import "_shop";
@import "_developers";
@import "_apps";
@import "_faq";
@import "_responsive";
@import "_fancybox";

$bold: "Helvetica Neue", Helvetica, sans-serif;
$book: "Helvetica Neue", Helvetica, sans-serif;



body {
    -webkit-font-smoothing: subpixel-antialiased;
}

p, a, span {
	font-family: $book;
	// -webkit-font-smoothing: antialiased;
}

h1, h2 {
	font-family: $bold;
	// -webkit-font-smoothing: antialiased;
}

h3 {
	font-family: $book;
	// -webkit-font-smoothing: antialiased;
}

img {
	max-width:100% !important;
	height:auto;
    display:inline-block;
}

h1 {
	font-size: 62pt;
	line-height: 62pt;
	font-weight: 200;
}

.header-subtitle {
	font-size: 32pt;
	font-weight: 100;
	line-height: 38pt;
	margin-top: 20px;
	margin-bottom: 80px;
}

.subsubtitle {
	font-size: 18pt;
	line-height: 26pt;
	font-weight: 100;
}

h2 {
	font-size: 60pt;
	line-height: 58pt;
	font-weight: 200;
	margin-bottom: 0;
}

h3 {
	font-size: 38pt;
	font-weight: 200;
	line-height: 50pt;
	text-align: center;
	margin-bottom: 30px;
}

p {
	font-size: 14pt;
	line-height: 24pt;
	font-weight: 200;
}

.clearboth {
	clear: both;
}

.button {
	@include transition(all 0.2s ease);
	background-repeat: no-repeat;
	border-radius: 8px;
	display: inline-block;
	font-weight: 200;
	text-align: center;
	text-decoration: none;
	outline: none;

	&.bold {
		font-weight: bold;
	}

	&.uppercased {
		text-transform: uppercase;
	}

	&.dark {
		background-color: #201e23;
		border: none;
		color: #fff;
		padding: 23px;

		&:hover {
			background-color: rgb(50, 144, 251);
		}
	}
	&.blue {
		background-color: #76cedd;
		color: #fff;
		padding: 20px 30px;

		&:hover {
			background-color: #201e23;
		}
	}
	&.red {
		background-color: #f15942;
		color: #fff;
		padding: 20px 30px;
		text-transform: none;

		&:hover {
			background-color: #201e23;
		}
	}
	&.arrowed {
		@include ri("button-arrow", 10px 18px, png);
		background-position: center right 22px;
		padding-right: 55px;
	}
	&.outlined-inv {
		background-color: transparent;
		border: 2px solid #2c2b2f;
		border-radius: 5px;
		color: #2c2b2f;
		font-size: 14pt;
		padding: 14px 22px;

		&:hover {
			color: #f1f1f1;
			background-color: #141414;
		}

		&.arrowed {
			@include ri("arrow_black", 10px 18px, png);
			background-position: center right 22px;
			padding-right: 55px;
		}
	}
	&.plus {
		@include ri("button-plus", 16px 16px);
		background-repeat: no-repeat;
		background-position: center left 18px;
		padding-left: 60px;
	}
	&.outlined {
		border: 2px solid #fff;
		border-radius: 5px;
		color: #fff;
		font-size: 14pt;
		padding: 14px 22px;

		&.arrowed {
			padding-right: 45px;
		}

		&:hover {
			color: #141414;
			background-color: #fff;
		}
	}
	&.sdk {
		line-height: 30px;

		.graphical {
			@include ri("button-graphical", 28px 24px);
			width: 28px;
			height: 24px;
			margin-top: 2px;
		}

		.ios {
			@include ri("button-ios", 25px 30px);
		}

		.android {
			@include ri("button-android", 25px 30px);
		}

		span {
			display: inline-block;
			width: 25px;
			height: 30px;
			float: left;
			margin-right: 15px;
		}
	}

	&.graphical {
		margin-top: 10px;
	}
}

.button.plus:hover, .plus-hover {
	@include ri("button-plus-hover", 16px 16px);
}
.button.outlined-inv.arrowed:hover, .outlined-inv-arrowed-hover {
	@include ri("button-arrow", 10px 18px);
}

.aside {
	@include span-columns(6 of 12);
}

.bside {
	@include span-columns(6 of 12);
	@include omega;
}

.int {
	@include outer-container;
}

.cont {
	width: 100%;
	background-size: cover;
	background-position: center;
}

.hidden {
	display: none;
}

.header-container {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

.header-anim {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.header {
	color: #fff;
	position: relative;

	a {
		color: #fff;
		text-decoration: none;
	}

	.navbar {
		@include span-columns(12 of 12);
		margin-right: 0;
		margin-top: 67px;
		height: 45px;
		line-height: 45px;

		.bag {
			display: block;
			margin-top: -10px;
			height: 37px;
			font-size: 12pt;
			line-height: 44px;
			font-weight: 400;
			float: right;

			.text {
				margin-top: 0;
			}

			span {
				display: block;
				float: left;
				height: 46px;
				line-height: 46px;
			}

			.item-count {
				display: inline-block;
				width: 38px;
				height: 37px;
				margin-right: 5px;
				font-weight: 600;
				@include ri("bag-white", 38px 37px);
				background-repeat: no-repeat;
				color: #000;
				text-align: center;
			}
		}

	}

	.logo {
		@include span-columns(5 of 12);
		@include omega;
		text-align: left;
	}

	nav {
		@include span-columns(7 of 12);
		@include omega;
		margin-top: 3px;
		padding-left: 0px;

		a {
			font-size: 20px;
			font-weight: bold;
			float: left;
			display: block;
			margin-right: 12px;
			padding: 6px 12px;
			line-height: 20px;
			margin-top: 2px;
			border: 2px solid transparent;
			border-radius: 6px;

			span {
				font-size: 16px;
				font-weight: bold;
			}

			&:last-child { margin-right: 0; }
			@include transition(all 0.15s ease-in-out);

			&.active, &:hover {
				border-color: #fff;
			}

			&.active:hover {
				background-color: #fff;
				color: #1b1b1b;
			}

			&.bag:hover {
				border-color: transparent;
				color: #fff;
				opacity: 0.7;
				.item-count {
					opacity: 0.7;
				}
			}
		}
	}
}

.social-container {
	background-color: #252525;
}

.social {
	color: #a89d9d;
	height: 140px;

	h3 {
		font-weight: 200;
		font-size: 16pt;
		height: 140px;
		line-height: 140px;
		margin: 0;
	}

	#signup {
		position: relative;
	}

	.after {
		// display: none;
		opacity: 0;
		position: absolute;
	}

	.signup-title {
		@include span-columns(3 of 6);
	}

	.thermodo-title {
		@include span-columns(2 of 6);
	}

	a {
		display: inline-block;
		float: left;
		margin-right: 10px;
		margin-top: 40px;

		&:last-child { margin-right: 0; }
	}

	input {
		background-color: #141414;
		border: 2px solid #3a3a3a;
		border-radius: 6px;
		font-weight: 600;
		font-size: 13pt;
		padding: 16px 22px;
		margin-top: 42px;
		outline: none;
		color: #ccc;

		@include span-columns(3 of 6);

		@include placeholder {
			color: #3a3a3a;
		}

		&:disabled {
			background-color: #3a3a3a;
			border-color: #141414;
			color: #141414;
			@include placeholder{
				color: #141414;
			}
		}
	}

	.sl {
		display: block;
		height: 60px;
		width: 60px;
		@include transition(all 0.2s ease-in-out);
	}

	.twitter { @include ri("social-twitter", 60px 60px); }
	.instagram { @include ri("social-instagram", 60px 60px); }
	.facebook { @include ri("social-facebook", 60px 60px); }
	.vimeo { @include ri("social-vimeo", 60px 60px); }

	.twitter-hover, .twitter:hover { @include ri("social-twitter-hover", 60px 60px); }
	.instagram-hover, .instagram:hover { @include ri("social-instagram-hover", 60px 60px); }
	.facebook-hover, .facebook:hover { @include ri("social-facebook-hover", 60px 60px); }
	.vimeo-hover, .vimeo:hover { @include ri("social-vimeo-hover", 60px 60px); }
}

.footer-container {
	background-color: #141414;
}

.footer {
	color: #a89d9d;
	padding: 75px 0;

	.aside a {
		display: block;
	}

	a {
		color: #a89d9d;
		@include transition(all 0.2s ease-in-out);

		&:hover {
			color: #fff;
		}
	}

	p, a {
		font-size: 12pt;
		line-height: 20pt;
		font-weight: 200;
		margin-top: 0;
	}

	h4 {
		color: #fff;
		font-weight: 100;
		font-size: 16pt;
		margin-bottom: 20px;
	}

	.robocat {
		@include ri("robocat", 68px 75px);
		@include transition(all 0.2s ease-in-out);
		display: block;
		float: left;
		margin-right: 10px;
		margin-bottom: 30px;
		background-repeat: no-repeat;
		width: 68px;
		height: 75px;
	}

	.robocat-hover, .robocat:hover {
		@include ri("robocat-hover", 68px 75px);
	}

	.aside, .bside, .cside {
		@include span-columns(4 of 12);
		@include pad(20px);
	}

	.cside {
		@include omega;
	}

	.legal {
		font-size: 9pt;
		font-weight: 200;
		color: #5e5757;
	}

	.contact {
		&, a {
			font-family: $book;
			font-size: 18px;
		}
		margin: 30px 0;
		text-align: center;
	}
}
